.carousel_Container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  width: 100%;
}

.carousel_Window {
  display: flex;
  align-items: center;
}

.carousel_Unit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  width: 100%;
  height: 100%;
}

.carousel_Icon {
  height: inherit;
  cursor: pointer;
}

.carousel_Image {
  height: 200px;
}