.menu_Container {
  display: flex;
  flex-direction: column;
  border: red solid;
  position: fixed;
  height: 100%;
  left: -250px;
  transition: all 250ms ease-in-out;
  
}

.menu_Container.open {
  left: 0;
}

.menu_List {
  display: flex;
  flex-direction: column;
}

.menu_ListItem {
  /* display: flex; */
  border: blue solid;
}